<div>
    <h2>Admin Home</h2>

    <div class="jumbotron">
        <div>
            <p>
                To start using Onboarding Utility, select the <a data-ui-sref="allCandidates">candidates</a> first. Once you select candidates, you will then process
                <span class="bold-text">Onboarding</span> for your them.
            </p>
            <div oc-lazy-load="vm.lazyLoadParams">
                <div candidate-data-grid datasource="vm.candidates" showaction="vm.showAction">

                </div>
            </div>
    </div>
</div>